body {
    background-image: url("../images/bg-body.png");
    background-repeat: repeat;
}

.navHeather a:link{
    text-decoration: none;
    color: #444;
}

.navHeather a:visited{
    text-decoration: none;
    color: #444;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorPadre {
    margin: 0px auto;
    max-width: 1180px;
}

.navHeather {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.navHeather a {
    margin-left: 20px;
}

ul {
    list-style: none;
    padding: 0px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    border-radius: 50%;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
}

.botones a {
    display: flex;
    background-color: #666;
    width: 180px;
    height: 50px;   
    justify-content: space-around;
    align-items: center;
}

.uno {
    margin-right: 20px;
}

.banner {
    display: flex;
    justify-content: center;
    width: 1180px;
    margin-bottom: 30px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product p {
    max-width: 380px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.product img {
    width: 380px;
}

.margin2 {
    margin-right: 20px;
}

button {
    background-color: #444;
    color: white;
    margin-bottom: 30px;
}

.h2 {
    font-weight: bold;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    background-color: rgb(200,0,0);
    text-align: center;
    padding: 20px 0px;
    height: 50px;
    color: white;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
}

.footer a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    margin-left: 20px;  
}